<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <!--Assemblies path may contain multiple paths. Use semicolon to separate values-->
    <add key="AssembliesPath" value="." />
    <add key="LocalConfigFile" value="..\..\ProjectHost\LocalConfig.xml" />
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/SendMessageService"
        binding="netNamedPipeBinding"
        bindingConfiguration="clientBinding"
        contract="ActivityTrackerContracts.Services.ISendMessageService"
        name="SendMessageEndpoint" />
      <endpoint address="net.pipe://localhost/ConfigService"
        binding="netNamedPipeBinding"
        bindingConfiguration="clientBinding"
        contract="ActivityTrackerContracts.Services.IConfigService"
        name="ConfigEndpoint" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="clientBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="10675199.02:48:05.4775807" sendTimeout="00:00:30">
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>


